.Control{
  display: flex;
  flex-wrap: wrap;
}
.btn{
  cursor: pointer;
  width: 130px;
  margin: 10px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #343333;
  color: #fff;
  padding: 20px;
  transition: .5s;
}
.btn:hover{
  background-color: #4e4e4e;
}